.App
	font-family 'Neuton', serif
	font-size 20px
	position relative
	min-height 100vh
	overflow hidden
	display flex
	flex-direction column
	.AppContent
		padding-top 53px // height of header
	h1, h2, h3, h4
		font-family 'Cormorant Garamond', serif
	.AppContent
		flex 1
