.App
	// overflow hidden
	// min-height 100vh
	// display flex
	// flex-direction column
	font-family 'Neuton', serif
	font-size 20px
	position relative
	h1, h2, h3, h4
		font-family 'Cormorant Garamond', serif
	.Header
		position -webkit-sticky
		position sticky
		top 0
	.AppContent
		flex 1
