.one-event
    margin-bottom 2em

    a.header-link
        display block
        width fit-content

    h3
        margin 0.75em 0
    h4, p
        margin 0.5em 0

    .address p
        font-style italic

