.via-musicae
    margin-bottom 20px

    .one-post
        h2
            margin-bottom 5px
    
    .date-stamp
        text-align right

    .load-more
        text-align center
        margin 30px 0
