.nav-name {
	display: flex;
}

.header {
	margin: 0 0 0 10px;
	
}

.nav-link {
	padding: 0 15px 0 15px;
}

.dropbtn {
	padding: 4px 0 0 0;
	border: 0;
	background-color: black;
	cursor: pointer;
	color: white;
}

.dropdown-content {
	display: none;
	position: absolute;
	z-index: 1;
	background-color: black;
	margin-top: 4px;
	width: 110px;
	padding-left: 5px;
}

.dropdown-content a {
	text-decoration: none;
	display: block;
	padding: 3px 0px 5px 5px;
	color: white;
}

.dropdown-content a:hover, .dropbtn:hover, .nav-link:hover, .card-title a:hover {
	color: grey;
	text-decoration: none;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.main-picture {
	background-image: url('../images/seascape-cropped.jpeg');
	width: 100%;
	height: 720px;
	background-size: cover;
	background-position: center center;
	position: relative;
}

.main-title {
	
	position: absolute;
	left: 0;
	top: 217px;
	width: 100%;
	text-align: center;
}	

.title-info {
	background: rgba(255, 255, 255, 0.75);
	width: 75%;
	margin: 0 12.5% 0 12.5%;
	font-family: 'Cormorant Garamond', serif;
	font-style: bold;
	font-size: 
}

.nav, .title {
	background-color: black;
}

.nav-link {
	color: white;
	font-size: 25px;
}

.dropbtn, .links {
	font-family: 'Neuton', serif;
}

.title-info h1 {
	font-size: 4.5rem;
}

.title-info h3 {
	font-size: 2.75rem;
}

.title-info h5 {
	font-family: 'Neuton', serif;
	font-size: 2.0rem;
}


.bio-title, .contact-title, .submitbutton {
	font-family: 'Merriweather', serif;
	margin-top: 40px;
	margin-bottom: 25px;
}

#bio-pic {
	width: 100%;
	max-width: 400px;
}

.bio-info, .portfolio-title p, .form-title, .portfolio-cap, .portfolio-caption {
   	font-family: 'Neuton', serif;
   	font-size: 20px;
}

.portfolio-background {
	background-image: url('../images/portfolio_background_edited.jpg');
	width: 100%;
	background-size: cover;
	background-position: center center;
	margin-top: 55px;
}

.portfolio-title, .portfolio-body {
	margin-top: 30px;
	
}

.portfolio-title {
	font-family: 'Merriweather', serif;	
}

.portfolio-body {
	
}

.portfolio {
	margin-top: 40px;
	margin-bottom: 40px;
	background: white;
	height: 110%;
	padding-bottom: 30px;
}

.row {
	margin-left: 0px;
	margin-right: 0px;
}

.portfolio-row {
	max-width: 550px;
}

.card {	
	border: none;
	border-radius: 0 !important;
	height: 100%;
	width: 100%;	
}

.card:hover {
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.1);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.1);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.1);
    transition: all 200ms ease-in;
    transform: scale(1.1);
}

.card-img {
	padding: 0;
  	border-radius: 0 !important;
}

.card img {
	height: 100%;
}

.card-title {
	text-align: center;
	padding: 5px 0 5px 0;
	background-color: black;
	color: white;
}

.card-text {
	margin: 0 20px 0 20px;
	background-color: rgba(255, 255, 255, 0.8);
	padding: 3px;
}

.card-text a:hover {
	text-decoration: none;
}

.card-title a {
	color: white;
}

.italic  {
	font-family: 'Cormorant Garamond', serif;
	font-size: 20px;
}

.portfolio-cap {
	line-height: 23px;
}

.card-img-overlay {
	padding: 0;
}

.project {
	padding: 0;
}

textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
}

.form-title {
	margin-top: 5px;
}

.submitbutton {
	border-radius: 0;
	background-color: #42b0f4;
	color: white;
}

.footer {
	font-family: 'Neuton', serif;
	text-align: center;
	background-color: black;
	color: white;
	margin: 0;
	padding: 10px;
	font-size: 20px;
}

h5.card-title {
	font-family: 'Merriweather', serif;
	font-size: 25px;
}