form
    .form-input
        margin-bottom 1em

        input, textarea
            width 100%
            max-width 500px
            margin-top 0.5em
            border 1px solid black
            padding 0.5em
        
        label .required
            color darkred
        

    button.submit
        margin-bottom 1em

.error
    margin-left 0.5em
    color darkred
    font-style italic
    font-size 14px

.error-status, .loading-status, .success-status
    padding 5px
    width fit-content
    margin-bottom 10px
    border-radius 0.25em
    p
        margin 0

.error-status
    border 1px solid red
    background #ff00001a
    color red

.loading-status
    font-style italic

.success-status
    color green
    background #0080002e
    border 1px solid green