.homepage
    display flex

    .image
        img
            max-height 400px
            max-width 400px
            border-radius 100%
    
    .text
        max-width 400px
        margin-left 30px
        display flex
        flex-direction column
        justify-content center

        h1
            margin 0

        h2
            margin 10px 0 0 0
            text-transform none
            font-family 'Roboto', sans-serif

        .links
            display flex

            .button-link:not(:last-of-type)
                margin-right 20px

@media screen and (max-width: 768px)
    .homepage
        display block

        .image, .text
            text-align center

        .image img
            max-height calc(100vw - 40px)
            max-width calc(100vw - 40px)

        .text
            max-width none
            margin 0 0 20px 0

            h1
                margin 40px 0 0 0

            .links
                justify-content center