json("../style-vars.json")

BtnBackground = btnBackground
PageBackground = pageBackground
TitleFont = titleFont

a.button-link
    background BtnBackground
    font-family TitleFont
    text-transform uppercase
    padding 5px
    color PageBackground
    text-decoration none
    margin-bottom 10px

    &:hover
        filter brightness(90%)

    &:visited
        color PageBackground
    
    &:not(:last-of-type)
        margin-right 10px