json("../style-vars.json")

NavBackground = navBackground
PageBackground = pageBackground
ParagraphFont = paragraphFont

.footer
    background NavBackground
    padding 3px
    padding-top 6px
    font-family paragraphFont
    font-weight 400
    color PageBackground

    display flex
    justify-content center

    a
        color PageBackground
        &:visited
            color PageBackground

    .footer-item
        margin 0 3.5px
