json("../style-vars.json")

NavBackground = navBackground
PageBackground = pageBackground
Linkfont = linkfont
ParagraphFont = paragraphFont

.footer
    background NavBackground
    padding 3px
    font-family paragraphFont
    font-weight 400
    color PageBackground

    display flex
    justify-content center

    a
        color PageBackground
        &:visited
            color PageBackground

    .footer-item
        margin 0 3.5px

    .copyright
        height fit-content
        margin-top 3px