json("../style-vars.json")

NavBackground = navBackground
PageBackground = pageBackground
TitleFont = titleFont

.navbar
    background NavBackground
    padding 10px
    font-family TitleFont
    font-weight 400
    text-transform uppercase
    position relative

    button.menu-toggler
        padding 0
        margin 0
        font-size 0
        border 0
        background inherit
        color white
        display none

    a
        color PageBackground
        text-decoration none
        &:visited
            color PageBackground

        &:after     
            background: none repeat scroll 0 0 transparent
            bottom: 0
            content: ""
            display: block
            height: 2px
            left: 50%
            position: absolute
            background: #fff
            transition: width 0.3s ease 0s, left 0.3s ease 0s
            width: 0
        
        &:hover:after  
            width: 100% 
            left: 0

    .links-list
        display flex

    .links-list-mobile
        display none

    .links-list, .links-list-mobile
        justify-content center
        flex-wrap wrap

        .link
            margin-right 0.5em
            margin-left 0.5em
            position relative
            font-size 20px
            text-align center
            
            &.active
                font-weight 800

            &:hover .subnav
                display block

            .subnav
                display none
                position absolute
                background NavBackground
                padding 5px
                left -0.5em

                .subnav-link
                    font-weight 500
                    font-size 16px
                    margin 3.5px
                    text-transform none

                    &.active
                        font-weight 700

@media screen and (max-width: 768px)
    .navbar
        display flex
        justify-content space-between

        button.menu-toggler
            display block

        .links-list .link:not(:first-of-type)
            display none

        .links-list-mobile
            display flex
            position absolute
            background NavBackground
            top 44px
            right 0
            width 0
            overflow hidden
            transition width 0.5s ease-in-out
            
            .mobile-content-wrapper
                padding 10px
                display flex
                width 100%
                justify-content space-between

            &.expanded
                width 250px

            .menu-toggler
                display flex

            .link
                margin 0
                text-align left !important

            .subnav
                position relative !important
                display block !important
                left 0 !important

                .subnav-link
                    width fit-content


