.page-content-wrapper
    max-width 900px
    margin auto
    margin-bottom 20px
    margin-top 20px
    min-height calc(100vh - 117px)
    padding 0 20px

    .children
        min-height calc(100vh - 117px)

        &.vertical-center-content
            display flex
            flex-direction column
            justify-content center

    &.loading
        height 100%
        display flex 
        flex-direction column
        justify-content center

        .loader-wrapper
            margin auto