.Pagination
    .controls
        display flex
        justify-content center
        border-bottom 1px solid black
        border-top 1px solid black
        margin-bottom 10px

        .selector
            cursor pointer
            margin 3px

            &:not(.page-num)
                background lightgrey
                border-radius 0.25em

                &:hover
                    background darkgrey
                    svg
                        stroke white

            svg
                padding-top 2px
                height 24px
                width 24px


        .page-num
            height 26px
            width 26px
            text-align center
            line-height 26px

            &:hover
                background darkgrey
                border-radius 0.25em
                color white

        .active
            font-weight bold
    .page-stats
        font-style italic