.Pagination
    .controls
        display flex
        justify-content center
        border-bottom 1px solid black
        border-top 1px solid black
        margin-bottom 10px

        .selector
            cursor pointer

        .page-num
            height 24px
            width 24px
            text-align center
            line-height 24px

        .active
            font-weight bold
    .page-stats
        font-style italic