.app-wrapper
    display flex 
    flex-direction column
    height 100vh

    .page-content
        flex 1
        height calc(100vh - 77px)
        overflow-y auto

        .imported-html
            margin-bottom 30px

            h3
                margin 10px 0
            p, ul
                margin 3px 0

        .links
            .button-link:not(:last-of-type)
                margin-right 10px