json("./style-vars.json")

TitleFont = titleFont

HeaderFont = headerFont
HeaderFontColor = headerFontColor
HeaderFontSize = headerFontSize

SubLinkFont = subLinkFont
SubLinkFontColor = subLinkFontColor
SubLinkFontSize = subLinkFontSize

ParagraphFont = paragraphFont
ParagraphFontColor = paragraphFontColor
ParagraphFontSize = paragraphFontSize

.grecaptcha-badge
    visibility hidden

.app-wrapper
    display flex 
    flex-direction column
    height 100vh



    .page-content
        flex 1
        height calc(100vh - 77px)
        overflow-y auto
        h1
            font-family headerFont
            font-size headerFontSize
            text-transform uppercase
            color headerFontColor

        h2
            font-family subLinkFont
            font-size subLinkFontSize
            text-transform uppercase
            color subLinkFontColor

        h3, h4
            font-family titleFont

        p, li, strong, i, em, label, input
            font-family paragraphFont
            font-size paragraphFontSize
            color paragraphFontColor
        
        a
            font-family paragraphFont
            font-size paragraphFontSize

        .imported-html
            margin-bottom 30px

            h3
                margin-bottom 0 !important
                margin-top 20px !important

            p, ul
                margin 5px 0

        .links
            display flex 
            flex-wrap wrap