.Header
	width 100%
	background black
	z-index 5
	position fixed
	.header-content
		display flex
		justify-content space-between
		padding 15px
	.links, .icons
		a
			text-decoration none
			color white
			&:hover
				color gray
	.links
		a:not(:last-of-type)
			margin-right 20px
	.icons
		a:not(:first-of-type)
			margin-left 15px
