.Header
	display flex
	justify-content space-between
	background black
	padding 15px
	z-index 5
	.links, .icons
		a
			text-decoration none
			color white
			&:hover
				color gray
	.links
		a:not(:last-of-type)
			margin-right 20px
	.icons
		a:not(:first-of-type)
			margin-left 15px
