.Profile
	padding 40px
	display flex
	.image
		text-align center
		margin auto
		img
			max-width 300px
	.bio
		margin auto
		margin-left 40px
	@media screen and (max-width: 430px)
		padding 10px
		display inline-block
		.image
			img
				max-width calc(100vw - 20px)
		.bio
			margin-left auto
